.bg-gradient{
    background: linear-gradient(315.95deg, #000000 58.32%, rgba(255, 255, 255, 0) 203.98%);
-webkit-filter: drop-shadow(13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1));
        filter: drop-shadow(13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1));
-webkit-backdrop-filter: blur(13.0709px);
        backdrop-filter: blur(13.0709px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 31.3701px;
}


.social-media {
        color: #001328;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;   
        transition: all linear .3s;
    }
    .teams:hover .social-media{
        background-color: #007bff;
        color: white;
        box-shadow:  5px 10px 10px -7px rgba(0,123,255,0.5);
    }
    
    .team:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #001328;
        opacity: .6;
        border-radius: 50%;
        transition: all linear .3s;
        transform: scale(0);
    }
    .teams:hover .team:before{ 
        transform: scale(1.1);
    }
    
    